<p>read works!</p>

<div class="right" *ngIf="tutorials">

    <h3>Tutorials</h3>
    <ul>
        <li *ngFor="let tutorial of tutorials; index as i">
            <input type="text" *ngIf="update[i]" [(ngModel)]="value[i]">
            <a [href]="tutorial.url" target="_blank" *ngIf="!update[i]">{{ tutorial.name }}</a> &nbsp;&nbsp;
            <p style="display:inline">{{ tutorial.status }}</p> &nbsp;&nbsp;
            <input type="button" (click)="deleteTutorial(i)" class='btn btn-danger' value="Delete">&nbsp;&nbsp;
            <input type="button" (click)="updateTutorial(i,updateBtn,tutorial.url)" class='btn btn-info' [value]="btnLabel[i]" #updateBtn>
        </li>
    </ul>
</div>